nav {
    height: 50px;
    font-family: "Roboto";
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px;
  }
  
  .nav-heading {
    text-decoration: none;
    font-weight: bold;
    color: black;
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .cart-container {
    position: relative;
    text-decoration: none;
  }
  
  .cart {
    font-size: 30px;
    color: black;
  }
  
  .cart-para {
    background-color: brown;
    color: white;
    position: absolute;
    top: 0;
    right: -5px;
    width: 15px;
    height: 15px;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  }
  
  .website-logo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }